<div class="app-footer">
  <app-footer-tabs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']"></app-footer-tabs>
  <app-footer-tabs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/skills']"></app-footer-tabs>
  <app-footer-tabs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/projects']"></app-footer-tabs>
  <app-footer-tabs routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']"></app-footer-tabs>
</div>